<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="icon" href="../assets/img/JSI_logo_only.png" type="image/x-icon">
    <title>Just Stream It</title>
</head>
<body>
    <h3>Trending</h3>
    <div class="category-carousel" id="bestMovieSection">
    </div>

    <h3>Top rated</h3>
    <div class="category-carousel" id="topRatedMoviesSection">
    </div>

    <h3>Fantasy</h3>
    <div class="category-carousel" id="fantasySection"></div>

    <h3>Adventure</h3>
    <div class="category-carousel" id="adventureSection">
    </div>

    <h3>Animation</h3>
    <div class="category-carousel" id="animationSection">
    </div>

    <div class="modal" id="movieModal">
        <button id="closeModalBtn">Close</button>
        <div class="modal-container" id="modalContainer"></div>
    </div>

    <script src="../assets/js/script.js"></script>
</body>
</html>
