<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="icon" href="../assets/img/JSI_logo_only.png" type="image/x-icon">
    <title>Just Stream It</title>
</head>
<body>
    <h3>Best Movies</h3>
    <div class="category-carousel" id="bestMovieSection">
    </div>

    <div class="category-carousel" id="topRatedMoviesSection">
    </div>

    <div class="category-carousel" id="category1Section">
    </div>

    <div class="category-carousel" id="category2Section">
    </div>

    <div class="category-carousel" id="category3Section">
    </div>

    <div class="modal" id="movieModal">
        <button id="closeModalBtn">Close</button>
    </div>

    <script src="../assets/js/script.js"></script>
</body>
</html>
