body {
    font-family: Roboto, Comfortaa, Arial, sans-serif;
    background-color: black;
    color: wheat;
    font-weight: normal;
    font-size: 12px;
    margin: 0;
}

button {
    background-color: black;
    border: none;
    border-radius: 4px;
    color: wheat;
    font-family: Roboto, Comfortaa, Arial, sans-serif;
    font-size: 20px;
    padding: 12px;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.800);
    transition-property: background-color, box-shadow, color, transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}

button:hover {
    cursor: pointer;
    transform: scale(110%);
    color: white;
    box-shadow: none;
    background-color: grey;
}

.menu {
    z-index: 999;
    position: fixed;
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.9));
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu-left-block {
    display: flex;
    align-items: center;
    height: 48px;
}

.menu-brand-block {
    display: flex;
    align-items: center;
    height: 100%;
}

.menu-brand-block:hover .menu-brand-logo {
    filter: brightness(50%);
    cursor: pointer;
}

.menu-brand-block:hover .menu-brand-name {
    filter: brightness(50%);
    cursor: pointer;
}

.menu-brand-logo {
    height: 48px;
    width: auto;
    transition: filter 0.3s ease-in;
}

.menu-brand-name {
    margin-left: 8px;
    height: calc(100% / 2);
    width: auto;
    transition: filter 0.3s ease-in;
}

.menu-nav-block {
    display: flex;
    margin-left: 16px;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.menu-nav-item {
    background: none;
    border: none;
    color: wheat;
    font-family: Roboto, Comfortaa, Arial, sans-serif;
    font-size: 20px;
    transition-property: color, transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}

.menu-nav-item:hover {
    color: rgb(255, 244, 223);
    transform: scale(110%);
    background-color: unset;
    cursor: pointer;
}

.menu-profile-block {
    display: flex;
    align-items: center;
    margin-right: 24px;
}

.menu-profile-block:hover .menu-profile-name {
    color: rgb(255, 244, 223);
    transform: scale(110%);
    cursor: pointer;
}

.menu-profile-block:hover .menu-profile-picture {
    filter: brightness(120%) blur(0.5px);
    cursor: pointer;
}

.menu-profile-name {
    font-size: 16px;
    margin-right: 8px;
    transition-property: color, transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}

.menu-profile-picture {
    width: auto;
    height: 48px;
    border-radius: 50%;
    transition-property: filter;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}

.categories-block {
    max-width: 80vw;
    margin: auto;
    padding-top: 64px;
}

.category-title-container {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 8px;
}

.separation-line-start {
    height: 3px;
    width: 48px;
    background: linear-gradient(to right, black, rgb(170, 0, 0), rgb(209, 143, 0), rgb(226, 211, 0), black);
    opacity: 90%;
}

h3 {
    font-size: 24px;
    white-space: nowrap;
}

h3:first-child {
    margin-top: 64px;
}

.separation-line-end {
    height: 3px;
    width: 100%;
    background: linear-gradient(to right, black, rgb(170, 0, 0), rgb(209, 143, 0), rgb(226, 211, 0), rgb(170, 0, 0), rgb(209, 143, 0), rgb(226, 211, 0), rgb(170, 0, 0), rgb(209, 143, 0), rgb(226, 211, 0), rgb(170, 0, 0), rgb(209, 143, 0), rgb(226, 211, 0), rgb(170, 0, 0), rgb(209, 143, 0), rgb(226, 211, 0), rgb(170, 0, 0), rgb(209, 143, 0), rgb(226, 211, 0), black);
    opacity: 90%;
}

.top-movie-block {
    display: flex;
    flex-direction: column;
    padding: 4px 20px;
}

.top-movie-details-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}

h1 {
    text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.800);
}

.top-movie-description {
    margin-top: 24px;
    font-size: 16px;
    text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.800);
}

.top-movie-img-block {
    padding: 16px 0;
}

.top-movie-img-block img {
    border-radius: 8px;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.800);
}

.best-movie-section {
    position: relative;
    margin: auto;
    height: 312px;
    width: 90%;
    background-color: #ffffff1f;
    border: 3px solid linear-gradient(to right, black, rgb(170, 0, 0), rgb(209, 143, 0), rgb(226, 211, 0), rgb(170, 0, 0), rgb(209, 143, 0), rgb(226, 211, 0), rgb(170, 0, 0), rgb(209, 143, 0), rgb(226, 211, 0), rgb(170, 0, 0), rgb(209, 143, 0), rgb(226, 211, 0), rgb(170, 0, 0), rgb(209, 143, 0), rgb(226, 211, 0), rgb(170, 0, 0), rgb(209, 143, 0), rgb(226, 211, 0), black);
    border-radius: 8px;
}

#backgroundImage {
    position: absolute;
    width: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    z-index: -1;
    opacity: 20%;
}

.category-carousel {
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: fit-content;
    max-width: 95%;
}

.carousel-left-arrow {
    position: absolute;
    z-index: 998;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 48px;
    left: 0;
    top: 0;
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.945));
    transition-property: transform, background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    border-radius: 6px 0 0 6px;
}

.carousel-right-arrow {
    position: absolute;
    z-index: 998;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 48px;
    right: 0;
    top: 0;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.945));
    transition-property: transform, background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    border-radius: 0 6px 6px 0;
}

.adjusted-left {
    transform: translateX(9px) scaleY(110%);
}

.adjusted-right {
    transform: translateX(-9px) scaleY(110%);
}

.carousel-left-arrow i, 
.carousel-right-arrow i {
    padding: 8px;
    font-size: 24px;
    transition-property: color, transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}

.carousel-left-arrow:hover,
.carousel-right-arrow:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.900);
}

.carousel-left-arrow:hover i,
.carousel-right-arrow:hover i {
    transform: scale(180%);
    color: rgb(255, 242, 216);
}

.thumbnail-container {
    width: 182px;
    height: 268px;
    position: relative;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    border-radius: 8px;
    overflow: hidden;
}

.thumbnail-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnail-container img {
    transition-property: filter;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}

.thumbnail-container h2 {
    z-index: 997;
    color: rgba(255, 255, 255, 0);
    font-size: 0;
    position: absolute;
    font-weight: lighter;
    left: 0;
    bottom: 0;
    padding: 8px;
    padding-bottom: 16px;
    width: calc(182px - 16px); /* thumbnail-container width minus h2 padding */
    transform: translateY(100%);
    transition-property: transform, opacity, font-size, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    opacity: 0;
    margin: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.349), rgb(0, 0, 0) 95%);
}

.thumbnail-container:hover {
    cursor: pointer;
    transform: scale(110%);
}

.thumbnail-container:hover h2 {
    transform: translateY(1px);
    color: wheat;
    font-size: 16px;
    opacity: 1;
}

.thumbnail-container:hover .thumbnail-img {
    filter: brightness(40%) blur(0.5px);
}

.watermark {
    width: 36px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    margin: 8px 0 0 8px;
}

.broken-img {
    transform: scale(0.65);
}

footer {
    margin-top: 56px;
    padding: 8px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-credits {
    margin-right: 24px;
    font-size: 8px;
}

.modal {
    z-index: 999;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

#modalContainer {
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.modal-background {
    opacity: 0.3;
}

.modal-details-block {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 20px;
}

.modal-description-block {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.modal-description-block p {
    margin: 0;
    text-align: start;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.modal-btn {
    position: absolute;
    bottom: 24px;
    right: 24px;
}

#closeModalBtn {
    position: absolute;
    right: 4px;
    top: 4px;
    cursor: pointer;
    font-size: 24px;
    /* text-shadow: 1px 1px black; */
    transition-property: transform, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}

#closeModalBtn:hover {
    color: rgb(202, 73, 34);
    transform: scale(120%);
}

.modal-imdb-rating-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.modal-imdb-rating-block i {
    margin-left: 4px;
}

.modal-img {
    border-radius: 8px;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.800);
}

.modal-broken-img {
    transform: scale(0.8);
    filter: drop-shadow(2px 4px 6px wheat);
}

.rating {
    font-weight: bold;
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 16px;
    margin: 0;
    padding: 8px;
    border-radius: 30px;
}

.green {
    color: #006835;
    background-color: #77ffbd;
}

.purple {
    color: #803D99;
    background-color: #df87ff;
}

.red {
    color: #D8121A;
    background-color: #ff5257;
}

.blue {
    color: #1B3E9B;
    background-color: #88a8ff;
}

.orange {
    color: #F15A24;
    background-color: #ffb99f;
}
